#buttons {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  margin: auto;
}

.form-inline .form-group {
    display: inline-block;
}

.ui-menu, .ui-menu-item {
    background: white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-width: 300px;
}

.ui-menu{
	border: 1px solid black;
}

.ui-menu-item:hover {
	background-color: blue;
}

button {
	background-color:green;
	color: white;
}

.form-control, .form-control:focus {
	border-color: green;
}

#random {
	margin: 5px;
}

a, a:hover {
	display: block;
	color: green;
	text-decoration: none;
}

.wikilink {
	padding-left: 12px;
}

.wikilink:hover {
	border-left:4px solid #273b54;
	padding-left: 8px;
}

#search {
	display: block;
}

.container {
	max-width: 80vw;
}

body {
	margin-bottom: 4em;
}

li {
	text-align: left;
}